
* {
    box-sizing: border-box;
}

#nav-list > li {
    text-align: center;   
}
#nav-list a:hover {
	background-color: white;
	color:black;
}
h3 {
	text-align: center;
}
#text > h3 {
    margin-bottom: 15px;
}

.text-center {
    font-weight: bold;
}

div section {
    margin: 10px;
    padding: 10px;
}
#section-1{
    background-color: #00f7ff;
}

#section-2 {
    background-color:#00FF00;
}

#section-3 {
    background-color: #FA8072;
}
.a,.b,.c {
	border:1px solid black;
	margin:10px;
}
.a {
	background-color: #48D1CC;
}
.b {
	background-color: #F4A460;
}
.c {
	background-color: #C0C0C0;
}
.top {
	border:1px solid blue;
	border-radius:4px;
	background-color: #D8BFD8;
	padding:3px 10px;
}
.top:focus, .top:hover {
	background-color: black;
	color:white;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	text-shadow: 1px 1px #FF0000;
}

@media (min-width: 991px) {
	#nav-list{
		visibility: hidden;
	}
}
@media (min-width: 768px) {
	#but{
		visibility: hidden;
	}
}